
.mainFxmlClass {
    
    -fx-background-color: #2E7D32;
    -fx-padding: 20px;

}

#titol {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF; /* Blanco para destacar */
    -fx-background-color: transparent;
}

.button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}


#bt1 { 
    -fx-background-color: #FDD835; 
}
#bt2 { 
    -fx-background-color: #FFA000; 
}
#bt3 {
    -fx-background-color: #FF7043; 
}


#bt1:hover { 
    -fx-background-color: #FFC107; 
}
#bt2:hover {
    -fx-background-color: #FFB300; 
}
#bt3:hover {
    -fx-background-color: #FF8A65; 
}


